body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.schedule {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.day {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 150px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.day h2 {
    margin-top: 0;
    color: #5a5a5a;
}

.day ul {
    list-style-type: none;
    padding: 0;
}

.day ul li {
    margin: 5px 0;
    color: #777;
}

.day.show {
    opacity: 1;
    transform: translateY(0);
}
